/* General Layout */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: linear-gradient(135deg, #CBBBF6, #5F4B8B, #0D0D0D);
  border-radius: 30px;
}

/* Form Container */
.login-form-wrapper {
  /* padding: 2rem 2.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 600px; */
  width: 100%;
  min-width: 600px;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Title */
.login-form-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #374151;
}

/* Label */
.login-input-wrapper,
.login-password-wrapper {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #374151;
}

/* Input Field */
.form-input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

/* Submit Button */
.gradient-btn-wrapper {
  width: 100%;
  background: linear-gradient(to right, #0D0D0D, #5F4B8B, #CBBBF6);
  color: white;
  font-size: 1rem;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1rem;
}

.gradient-btn-wrapper:hover:not(:disabled) {
  background: linear-gradient(to right, #CBBBF6, #5F4B8B, #0D0D0D);
}

.gradient-btn-wrapper:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Links */
.login-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #ffffff;
}

.login-link a {
  color: #3b82f6;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}