.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.input-wrapper h1 {
  color: #ffffff;
}

.input-wrapper input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  outline: none;
}

.input-wrapper input:hover {
  box-shadow: 0 4px 15px #ccc;
}

.listing-container {
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: flex-start;
}

.input-wrapper .select-wrapper {
  width: 70vh;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none !important;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
}

.input-wrapper .select-wrapper:hover {
  box-shadow: 0 4px 15px #ccc;
}

.property-cards h1 {
  margin-bottom: 20px;
}

.property-cards .details-wrapper h3 {
  text-align: start;
  width: auto;
  color: #302e2e;
  font-size: 18px !important;
}

.property-cards .details-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: start;

}

.property-cards .details-wrapper .existing-details-wrapper {
  text-align: start;
  margin-top: 20px;
  width: 35rem;
  padding: 12px 25px;
  color: #6a11cb;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  border-radius: 12px;
  align-items: center;
}

.existing-details-wrapper .img-wrapper {
  height: 100px;
  width: 100px;
}

.existing-details-wrapper .img-wrapper img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}




.delete-wrapper button {
  background: linear-gradient(135deg, #CBBBF6, #5F4B8B, #302e2e);
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  text-align: end;
  color: #ffffff;
}

.delete-wrapper button:hover {
  background: linear-gradient(135deg, #302e2e, #5F4B8B, #CBBBF6);

}